@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200;1,700&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
}