img {
    width: 400px;
}

/* Tipografías locales - Cargando tipografías */
/* peso 400 - normal */
@font-face {
    font-family: "Playfair Display"; /* familia tipografica */
    font-style: normal;
    font-weight: 400; /* peso tipografico */
    src: 
        url('../fonts/playfair-display-v15-latin-regular.eot'),
        url('../fonts/playfair-display-v15-latin-regular.woff2') format('woff2'),
        url('../fonts/playfair-display-v15-latin-regular.woff') format('woff'),
        url('../fonts/playfair-display-v15-latin-regular.ttf') format('truetype'),
        url('../fonts/playfair-display-v15-latin-regular.svg') format('svg');    
}

/* peso 700 - normal */


/* peso 900 - italic */
@font-face {
    font-family: "Playfair Display"; /* familia tipografica */
    font-style: italic;
    font-weight: 900;
    src: 
        url('../fonts/playfair-display-v15-latin-900italic.eot'),
        url('../fonts/playfair-display-v15-latin-900italic.woff2') format('woff2'),
        url('../fonts/playfair-display-v15-latin-900italic.woff') format('woff'),
        url('../fonts/playfair-display-v15-latin-900italic.ttf') format('truetype'),
        url('../fonts/playfair-display-v15-latin-900italic.svg') format('svg');
}

h1 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Playfair Display";
    font-weight: 900;
    font-style: italic;
}