h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
}

