/****************************
Fonts
*****************************/
/* 
@font-face {

} 
*/

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Zilla Slab', serif; 
*/

/****************************
Typography
*****************************/
html {
    font-size: 18px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    line-height: 23px;
    font-weight: 400;
}
h1 {
    font-family: 'Zilla Slab', serif; 
    font-size: 70px;
    line-height: 84px;
    font-weight: 700;
}
h2{
    font-family: 'Zilla Slab', serif; 
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}
a {
    text-decoration: none;
}
/****************************
General
*****************************/

/****************************
Style
*****************************/